name: Exploring Variables and Secrets

on:
  workflow_dispatch: 
  
  push:
    branches:
      - main
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: docker build
        run: docker buils -t docker.io/dockerusername/dockerimagename:latest .
      
      - name: docker login
        run: docker login --username=begad --password=fakepassword1234
      
      - name: docker publish
        run: docker push docker.io/dockerusername/dockerimagename:latest
  

  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: deploy step
        run: echo "deploying the application..."
      -name: docker run:
       run: docker run -d -p 80:80 docker.io/dockerusername/dockerimagename:latest